@model CreateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Add New Brand</h4>
                        <p class="card-subtitle mb-4">Add brands related to cars area</p>

                        <form asp-action="CreateBrand" method="post">

                            
                            <div class="form-group">
                                <label for="exampleInputModel">Brand</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="Name" placeholder="Enter Car Brand">
                            </div>
                            
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


