@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    
    @await Component.InvokeAsync("_HeadUILayoutComponentsPartial")

<body>
    
    @await Component.InvokeAsync("_NavbarUILayoutComponentsPartial")
    @await Component.InvokeAsync("_DefaultCoverUILayoutComponentsPartial")
    @await Component.InvokeAsync("_RentACarFilterComponentPartial")
    @await Component.InvokeAsync("_DefaultLast5CarsWithBrandsComponentsPartial")
    @await Component.InvokeAsync("_AboutUsComponentsPartial")
    @await Component.InvokeAsync("_ServiceViewComponentsPartial")
    @await Component.InvokeAsync("_BecameADriverComponentPartial")
    @await Component.InvokeAsync("_TestimonialComponentsPartial")
    @await Component.InvokeAsync("_GetLast3BlogsWithAuthorListComponentPartial")
    @await Component.InvokeAsync("_DefaultStatisticsComponentsPartial")
    @await Component.InvokeAsync("_FooterUILayoutComponentsPartial")
    @await Component.InvokeAsync("_ScriptUILayoutComponentsPartial")
</body>
</html>


