@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Home Service Area</h4>
                        <p class="card-subtitle mb-4">
                            You can edit the information displayed in the homepage Service below.
                            To maintain layout integrity, please create only one Service.

                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Service Name</th>
                                        <th>Description</th>
                                        <th>Image Url</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        <th>Go to the Services</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.ImageUrl</td>
                                           

                                            <td>
                                                <a href="/Admin/AdminService/RemoveService/@item.ServiceID"
                                                   class="btn btn-outline-danger">Delete</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/AdminService/UpdateService/@item.ServiceID"
                                                   class="btn btn-outline-success">Update></a>
                                            </td>
                                            <td>
                                                <a href="/Admin/AdminService/ServiceDetail/@item.ServiceID"
                                                   class="btn btn-outline-success">>Go to the Services</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminService/CreateService/" class="btn btn-outline-primary"> Add New Service></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

